<div>
    <a href="#/"> <span class="fa fa-arrow-left"></span> Back</a>
</div>
<div ng-if="ctrl.movie">
    <h2>.{{ctrl.movie.Title}}</h2>

    <div class="row">
        <div class="col-md-6">
            <ul class="list-group">
                <li class="list-group-item row">
                    <strong class="col-xs-6">Released</strong>
                    <span class="col-xs-6 text-right">.{{ctrl.movie.Released}}</span>
                </li>
                <li class="list-group-item row">
                    <strong class="col-xs-6">Genre</strong>
                    <span class="col-xs-6 text-right">.{{ctrl.movie.Genre}}</span>
                </li>
                <li class="list-group-item row">
                    <strong class="col-xs-6">Country</strong>
                    <span class="col-xs-6 text-right">.{{ctrl.movie.Country}}</span>
                </li>
                <li class="list-group-item row">
                    <strong class="col-xs-6">Actors</strong>
                    <span class="col-xs-6 text-right">.{{ctrl.movie.Actors}}</span>
                </li>
                <li class="list-group-item row">
                    <strong class="col-xs-6">Run time</strong>
                    <span class="col-xs-6 text-right">.{{ctrl.movie.Runtime}}</span>
                </li>
                <li class="list-group-item row">
                    <strong class="col-xs-6">Rated</strong>
                    <span class="col-xs-6 text-right">.{{ctrl.movie.Rated}}</span>
                </li>
                <li class="list-group-item row">
                    <strong class="col-xs-6">Metascore</strong>
                    <span class="col-xs-6 text-right">.{{ctrl.movie.Metascore}}</span>
                </li>
            </ul>

            <p>.{{ctrl.movie.Plot}}</p>
        </div>
        <div class="col-md-6 text-center">
            <div class="thumbnail">
                <img ng-src="{{ctrl.movie.Poster}}" ng-if="ctrl.movie.Poster!= 'N/A'" alt=".{{ctrl.movie.Title}}" />
                <div ng-if="ctrl.movie.Poster==='N/A'">

                    <span class="fa fa-film fa-5x"></span>
                    <br />
                    <h4>Image not available</h4>

                </div>
            </div>
        </div>
    </div>

</div>